html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #454545;
}

body {
    background-color: #ffffff;
    padding: 0 25px;
}

a {
    transition: all 300ms ease;
    display: inline-block;
}

a:hover {
    transform: scale(1.5);
    transform: rotate(10deg);
    transform: scale(1.1) rotate(2deg);
    color: #b92626;
}

/*#region general-------------------- GENERAL RUSES --------------------*/
.content-wrapper {
    max-width: 1480px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 27px 18px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense; /*!!!*/
}

.section {
    grid-column: 2;
    padding: 30px;
}

.userpic-section,
.skills-section,
.language-section,
.contacts-section,
.projects-section {
    grid-column: 1;
}

.underline {
    margin-bottom: 25px;
    width: 65px;
    height: 4px;

    background-color: #454545;
}

.section-header {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 34px;
    letter-spacing: 2px;
    line-height: 29px;
    color: #353535;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

html ul {
    padding-left: 0;

    list-style: none;
}

main li {
    margin: 10px 0;
}

.menu-checkbox {
    display: none;
}
/*#endregion*/
/*#region userpic-------------------- USER PIC -------------------------*/
.userpic {
    width: 100%;
    height: 100%;
    min-height: 435px;

    background-image: url(userpic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.userpic-section {
    padding: 0;

    border-radius: 0 20px 0 20px;
    overflow: hidden;
}
/*#endregion*/
/*#region skills--------------------- SKILLS SECTION -------------------*/
.skills-section {
    border-radius: 20px 0 20px 0;

    background-color: #f8dcbf;
}
.skills-section ul {
    padding-left: 20px;

    list-style: square;
}
/*#endregion*/
/*#region education------------------ EDUCATION SECTION ----------------*/
.education-section {
    border-radius: 20px 0 0 0;

    background-color: #f7d8d5;
}
.education-section ul {
    padding-left: 20px;

    list-style: square;
}
/*#endregion*/

.contacts-section {
    border-radius: 0 20px 0 20px;

    background-color: #f1e7dd;
}

.language-section {
    border-radius: 0 20px 0 0;

    background-color: #f7d8d5;
}

/*#region about-me-------------------- ABOUT ME SECTION ----------------*/
.name-container h1 {
    margin: 0;

    font-size: 3em;
    letter-spacing: 4px;
    line-height: 43px;
    font-weight: 700;
    color: #252525;
}

.name-container p {
    margin-top: 20px;
    margin-bottom: 90px;

    font-size: 2em;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 400;
}

.aboutme-section > p {
    font-size: 1.3em;
    line-height: 33px;
    color: #454545;
    font-weight: 400;
}
/*#endregion*/

.code-section {
    grid-row: 2 / 4;
    overflow-x: auto; /*!!!*/

    border-radius: 0 20px 0 20px;
    background-color: #f1e7dd;
}

.projects-section {
    border-radius: 20px 0 20px 0;

    background-color: #f8dcbf;
}

.work-section {
    border-radius: 0 20px 0 20px;

    background-color: #c4b8b7;
}

/*#region header-and-footer---------- HEADER AND FOOTER ----------------*/
.footer-wrapper,
.header-wrapper {
    min-height: 80px;
    max-width: 1480px;
    margin: 20px auto 0 auto;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333333;
    border-radius: 20px 20px 0 0;
}

.header-wrapper {
    margin: 0 auto 20px auto;
    border-radius: 0 0 20px 20px;
    justify-content: end;
}

.footer-wrapper * {
    color: #c4b8b7;
}

nav * {
    text-decoration: none;
    transition: transform 300ms ease, color 100ms ease;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 0 15px;
    color: #c4b8b7;
}

.nav-item:hover {
    transform: scale(1.2);
    color: #b92626;
}

nav a {
    color: inherit;
}
/*#endregion*/
/*#region media---------------------- MEDIA ----------------------------*/
@media (max-width: 1255px) {
    .content-wrapper {
        grid-template-columns: 1fr 2fr;
    }
    .name-container p {
        margin-bottom: 50px;
    }
    .aboutme-section {
        padding-bottom: 0;
    }
}

@media (max-width: 1030px) {
    .userpic-section {
        margin-top: 30px;
    }

    .content-wrapper {
        grid-template-columns: 1fr;
        grid-auto-flow: column;
    }
    .section {
        grid-column: 1;
        grid-row: auto;
    }

    .aboutme-section {
        grid-row: 0;
    }
    .contacts-section {
        grid-row: 9;
    }
    .work-section {
        grid-row: 8;
    }

    .aboutme-section {
        padding: 0;
    }
    /*~~~~~~~~~~BURGER MENU START~~~~~~~~~~*/
    .header-wrapper {
        min-height: auto;
        position: fixed;
        top: 30px;
        padding-top: 30px;
        right: -100%;

        border-radius: 20px 0 0 20px;

        flex-direction: column;
        transition: 500ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
        transition: 700ms cubic-bezier(.8,-0.19,.3,1.27);
    }
    .unhidden {
        right: 0;
    }

    .nav-list {
        flex-direction: column;
    }
    .nav-item {
        padding: 0;
    }
    .nav-link {
        display: block;
        padding: 15px 10px;
    }

    span:nth-of-type(1) {
        width:50%;
    }
    span:nth-of-type(2) {
        width:100%;
    }
    span:nth-of-type(3) {
        width:75%;
    }
    label {
        position: fixed;
        right: 25px;
        top: 45px;
        z-index: 999;

        display: flex;
        flex-direction: column;
        width: 45px;
        cursor: pointer;
    }
    label span{
        background: #353535;
        border-radius: 3px;
        height: 7px;
        margin: 4px 0;
        transition: 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6), background-color 800ms ease;
    }
    .menu-checkbox:checked ~ span:nth-of-type(1){
        transform-origin:bottom;
        transform:rotatez(45deg) translate(6px,0px);
        background-color: #f1e7dd;
    }
    .menu-checkbox:checked ~ span:nth-of-type(2){
        transform-origin:top;
        transform:rotatez(-45deg);
        background-color: #f1e7dd;
    }
    .menu-checkbox:checked ~ span:nth-of-type(3){
        transform-origin:bottom;
        background-color: #f1e7dd;
        width:50%;
        transform: translate(21px,-10px) rotatez(45deg);
    }
    /*~~~~~~~~~~BURGER MENU END~~~~~~~~~~*/
}

@media (max-width: 530px) {
    .aboutme-section h1 {
        font-size: 1.7em;
    }
    .aboutme-section p {
        font-size: 1.2em;
    }
    .aboutme-section > p {
        font-size: 0.8em;
    }
    .section-header {
        font-size: 1.5em;
    }
    body {
        padding: 0 15px;
    }

    .section {
        padding: 20px;
    }
    .aboutme-section {
        padding: 0;
    }
    .userpic-section {
        padding: 0;
    }
}
/*#endregion*/

.footer-github {
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-github::before {
    left: 10px;
    content: "";
    background-image: url(assets/github-mark-white.svg);
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    margin-right: 7px
}