html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #454545;
}

body {
    background-color: #ffffff;
    padding: 0 25px;
}

.content-wrapper {
    max-width: 1480px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 27px 18px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense; /*!!!*/
}

.section {
    grid-column: 2;
    padding: 30px;
}

.userpic-section,
.skills-section,
.language-section,
.contacts-section,
.projects-section {
    grid-column: 1;
}

/*#region general-------------------- GENERAL RUSES --------------------*/
.underline {
    margin-bottom: 25px;
    width: 65px;
    height: 4px;

    background-color: #454545;
}

.section-header {
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 34px;
    letter-spacing: 2px;
    line-height: 29px;
    color: #353535;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

html ul {
    padding-left: 0;

    list-style: none;
}

main li {
    margin: 10px 0;
}
/*#endregion*/
/*#region userpic-------------------- USER PIC -------------------------*/
.userpic {
    width: 100%;
    height: 100%;
    min-height: 435px;

    background-image: url(userpic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.userpic-section {
    padding: 0;

    border-radius: 0 20px 0 20px;
    overflow: hidden;
}
/*#endregion*/
/*#region skills--------------------- SKILLS SECTION -------------------*/
.skills-section {
    border-radius: 20px 0 20px 0;

    background-color: #f8dcbf;
}
.skills-section ul {
    padding-left: 20px;

    list-style: square;
}
/*#endregion*/
/*#region education------------------ EDUCATION SECTION ----------------*/
.education-section {
    border-radius: 20px 0 0 0;

    background-color: #f7d8d5;
}
.education-section ul {
    padding-left: 20px;

    list-style: square;
}
/*#endregion*/

.contacts-section {
    border-radius: 0 20px 0 20px;

    background-color: #f1e7dd;
}

.language-section {
    border-radius: 0 20px 0 0;

    background-color: #f7d8d5;
}

/*#region about-me-------------------- ABOUT ME SECTION ----------------*/
.name-container h1 {
    margin: 0;

    font-size: 51px;
    letter-spacing: 4px;
    line-height: 43px;
    font-weight: 700;
    color: #252525;
}

.name-container p {
    margin-top: 20px;
    margin-bottom: 90px;

    font-size: 35px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: 400;
}

.aboutme-section > p {
    font-size: 21px;
    line-height: 33px;
    color: #454545;
    font-weight: 400;
}
/*#endregion*/

.code-section {
    grid-row: 2 / 4;
    overflow-x: auto; /*!!!*/

    border-radius: 0 20px 0 20px;
    background-color: #f1e7dd;
}

.projects-section {
    border-radius: 20px 0 20px 0;

    background-color: #f8dcbf;
}

.work-section {
    border-radius: 0 20px 0 20px;

    background-color: #c4b8b7;
}










.footer-wrapper,
.header-wrapper {
    min-height: 80px;
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    background-color: #f8dcbf;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;
    padding: 0 30px;


}

.header-wrapper {
    margin: 0 auto 20px auto;
    border-radius: 0 0 20px 20px;
    justify-content: end;
}

nav * {
    text-decoration: none;
    transition: transform 300ms ease, color 100ms ease;
}

.nav-list {
    display: flex;
    flex-direction: row;

}

.nav-item {
    padding: 0 15px;
}

.nav-item:hover {
    transform: scale(1.2);
    color: rgb(185, 38, 38);
}

nav a {

    color: inherit;
}